
    h1, 
    h2, h3 {
    color: #008080;
    font-family: sans-serif;
    font-size: 250%;
    font-weight: lighter;
    }
    header {
    color: #008080;
    font-family: sans-serif;
    font-size: 300%;
    }
    body{
        background-color: #AFEEEE;
        margin-left: 600px;
       } 
