  @media screen and (max-width: 480px) {
  #main-aside-wrapper {
    flex-direction: row;
  }
  #main-aside-wrapper {
    flex-direction: row;
    display: flex-start;
  }
  #main-aside-wrapper main{
    margin: 10px;
    padding-left: 5px;
  }
  #main-aside-wrapper main {
    flex: 1;
    order: 1;
  }
}


    h1, 
    h2, h3 {
    color: #008080;
    font-family: sans-serif;
    font-size: 250%;
    font-weight: lighter;
    }
    header {
    color: #008080;
    font-family: sans-serif;
    font-size: 300%;
    margin-left: 700px;
    } 
    div1{
        margin-left: 5px;
    }
    body{
        background-color: #AFEEEE;
       } 
    h1, ol, h3, form, table{ 
        margin-left: 600px;
    }
    table {
        border: 3px solid grey;
    }
    nav{
        margin-left: 700px;
    }
   
